.program_logo {
    font-family: 'Lobster', cursive;
}

.program_footer_button {
    font-size: .6rem;
}

.program_footer {
    text-align:center;
    margin-top: 2rem;
}

.program_header {
    text-align:center;
    margin: 2rem 0;
}